<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.morgroup.eventplaner">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".EventPlaner"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:letterSpacing=".02"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- EventCreateGuice -->
        <activity
            android:name=".view.activity.EventGuideActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- Settings -->
        <activity
            android:name=".view.activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" /> <!-- Start -->
        <activity
            android:name=".view.activity.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Profile -->
        <activity
            android:name=".view.activity.ProfileActivity"
            android:label="@string/app_name"
            android:parentActivityName=".view.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- Confirm -->
        <activity
            android:name=".view.activity.ConfirmActivity"
            android:label="@string/app_name"
            android:parentActivityName=".view.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- Login -->
        <activity
            android:name=".view.activity.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- Register -->
        <activity
            android:name=".view.activity.RegisterActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- Event-Übersicht -->
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" /> <!-- Event-Ansicht -->
        <activity
            android:name=".view.activity.EventActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName=".view.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" /> <!-- META -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />
    </application>

</manifest>