<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.morgroup.eventplaner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"  />

    <application
        android:name=".EventPlaner"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:letterSpacing=".02"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- EventCreateGuice -->
        <activity
            android:name=".view.activity.EventGuideActivity"
            android:label="@string/app_name"
            android:parentActivityName=".view.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing|stateHidden" /> <!-- Settings -->
        <activity
            android:name=".view.activity.SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" /> <!-- Start -->
        <activity
            android:name=".view.activity.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Profile -->
        <activity
            android:name=".view.activity.ProfileActivity"
            android:label="@string/app_name"
            android:parentActivityName=".view.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- Confirm -->
        <activity
            android:name=".view.activity.ConfirmActivity"
            android:label="@string/app_name"
            android:parentActivityName=".view.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- Login -->
        <activity
            android:name=".view.activity.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- Register -->
        <activity
            android:name=".view.activity.RegisterActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- Event-Übersicht -->
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"
                    android:host="www.eventplaner.eu"
                    android:pathPrefix="/join" />
            </intent-filter>
        </activity> <!-- Event-Ansicht -->
        <activity
            android:name=".view.activity.EventActivity"
            android:label="@string/app_name"
            android:parentActivityName=".view.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <!-- Crop -->
        <activity
            android:name=".view.activity.CropActivity"
            android:screenOrientation="portrait" />
        <!-- Voting -->
        <activity
            android:name=".view.activity.VotingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <!-- Create Voting -->
        <activity
            android:name=".view.activity.CreateVotingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- META -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7245487030447444~9457705270"/>

    </application>

</manifest>